[workspace]
default-members = ["tng"]
exclude = ["deps/"]
members = [
  "tng",
  "tng-testsuite",
  "tng-wasm",
  "deps/hyper-util-shim",
]
resolver = "2"

[workspace.package]
authors = ["Kun Lai <laikun@linux.alibaba.com>"]
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/inclavare-containers/tng"
version = "2.3.0"

[workspace.dependencies]
anyhow = "1.0.98"
bytes = "1.10.1"
futures = "0.3.31"
hex = "0.4.3"
http = "1.3.1"
http-body-util = "0.1.3"
hyper = {version = "1", default-features = false, features = ["http1", "http2"]}
hyper-util = {version = "=0.1.7", features = ["service", "client-legacy", "http1", "http2"]}
regex = "1.11.1"
reqwest = {version = "<=0.12.9", default-features = false, features = ["json", "http2", "rustls-tls-webpki-roots", "brotli", "gzip", "zstd"]}# select 0.12.9 version since we have to align to the hyper-util=0.1.7 version used by hyper-util-wasm
scopeguard = "1.2.0"
serde = {version = "1.0", features = ["derive"]}
serde_json = "1.0.140"
tokio = {version = "1.47.1", features = ["sync"]}
tokio-graceful = "0.2.2"
tokio_with_wasm = {version = "=0.8.6", features = ["rt", "macros", "time"]}
tokio_with_wasm_proc = "=0.8.6"

[patch.crates-io.rustls]
branch = "v/0.23.27-patched"
git = "https://github.com/inclavare-containers/rustls.git"

[patch.crates-io.rustls-webpki]
branch = "v/0.103.3-patched"
git = "https://github.com/inclavare-containers/webpki.git"

[patch.crates-io.reqwest]
git = "https://github.com/inclavare-containers/reqwest.git"
rev = "edd4658e698a030ff04bbb62e954f363b31a25c8"

[patch.crates-io.tokio-graceful]
branch = "wasm"
git = "https://github.com/inclavare-containers/tokio-graceful.git"

[patch.crates-io]
hyper-util = {path = "./deps/hyper-util-shim"}

[profile.release.package.tng-wasm]
# Tell `rustc` to optimize for small code size.
opt-level = "s"
