name: Build Binary Executable

on:
  push:
    branches:
      - 'master'
      - 'native'
    tags:
      - 'v*.*.*'
  pull_request:
    branches:
      - 'master'
      - 'native'
jobs:
  build-all:
    strategy:
      matrix:
        target:
          - "aarch64-apple-darwin"
          - "x86_64-apple-darwin"
          - "x86_64-unknown-linux-gnu"
          - "aarch64-unknown-linux-gnu"
          # - "x86_64-pc-windows-msvc"
    name: Build For ${{ matrix.target }}
    uses: ./.github/workflows/zigbuild.yml
    with:
      target: ${{ matrix.target }}
  release:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    needs: build-all
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Check pre-release
        run: |
          tag="${GITHUB_REF#refs/*/}"
          echo "tag=tag"
          if [[ ${tag} == *alpha* || ${tag} == *beta* ]]
          then
              prerelease=true
          else
              prerelease=false
          fi
          echo "prerelease=$prerelease"
          echo "PRE_RELEASE=$prerelease" >> $GITHUB_ENV
      - name: Download All Artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts
          merge-multiple: false
      - name: compress
        run: |
          cd artifacts
          for dir in */; do
              dirname="${dir%/}"
              if [[ $dirname == *"windows"* ]]; then
                  (cd ${dirname} && zip -r - tng.exe) > tng-${{ github.ref_name }}.${dirname}.zip
              else
                  tar czvf tng-${{ github.ref_name }}.${dirname}.tar.gz -C ${dirname} tng
              fi
          done
      - name: List Directory
        run: ls -R artifacts
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          draft: false
          fail_on_unmatched_files: true
          prerelease: ${{ env.PRE_RELEASE }}
          # files: |
          #   ./artifacts/*.zip
          #   ./artifacts/*.tar.gz
          files: |
            ./artifacts/*.tar.gz
